services:

  backend-app:
    container_name: support-chat-app
    build: .
    ports:
      - "8080:8050"
    networks:
      - microservices-net
    depends_on:
      - postgres
      - kafka
      - zipkin
      - redis
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/anirudh?sessionTimezone=Asia/Kolkata
      - SPRING_DATASOURCE_USERNAME=anirudh
      - SPRING_DATASOURCE_PASSWORD=anirudh
#      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=ms_kafka:29092
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
      - SPRING_SESSION_JDBC_INITIALIZE_SCHEMA=never

  postgres:
    container_name: ms_pg_sql
    image: postgres
    environment:
      POSTGRES_USER: anirudh
      POSTGRES_PASSWORD: anirudh
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - microservices-net
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - 5050:80
    networks:
      - microservices-net
    restart: unless-stopped

#  mongodb:
#    container_name: ms_mongo_db
#    image: mongo
#    ports:
#      - 27017:27017
#    volumes:
#      - mongo:/data
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: anirudh
#      MONGO_INITDB_ROOT_PASSWORD: anirudh
#
#  mongo-express:
#    container_name: ms_mongo_express
#    image: mongo-express
#    restart: unless-stopped
#    ports:
#      - 8081:8081
#    environment:
#      - ME_CONFIG_MONGODB_ADMINUSERNAME=anirudh
#      - ME_CONFIG_MONGODB_ADMINPASSWORD=anirudh
#      - ME_CONFIG_MONGODB_SERVER=mongodb

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181
    networks:
      - microservices-net

#  kafka:
#    image: confluentinc/cp-kafka:latest
#    container_name: ms_kafka
#    ports:
#      - 9092:9092
#    depends_on:
#      - zookeeper
#    networks:
#      - microservices-net
#    environment:
#      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
#      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
#      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092


  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: ms_kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    networks:
      - microservices-net
    environment:
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      # --- FIXES ---
      # Tells Kafka to listen on 29092 for internal traffic and 9092 for external
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      # Tells clients how to find Kafka (containers use 29092, your host uses 9092)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://ms_kafka:29092,PLAINTEXT_HOST://localhost:9092

#  mail-dev:
#    container_name: ms_mail_dev
#    image: maildev/maildev
#    ports:
#      - 1080:1080
#      - 1025:1025

  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin
    ports:
      - 9411:9411
    networks:
      - microservices-net

  redis:
    container_name: ms_redis
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - microservices-net
    restart: unless-stopped
    volumes:
      - redis_data:/data

  redis-commander:
    container_name: ms_redis_commander
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:ms_redis:6379
    ports:
      - 8082:8081
    networks:
      - microservices-net
    depends_on:
      - redis
    restart: unless-stopped

networks:
  microservices-net:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  redis_data: